@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
	font-family: "Another Danger";
	src: url("assets/fonts/Another Danger - Demo.otf");
	src: url("assets/fonts/another_danger_-_demo-webfont.woff");
	src: url("assets/fonts/another_danger_-_demo-webfont.woff2");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--light: rgba(255, 255, 255, 1);
	--dark: rgba(0, 0, 0, 1);
	--dark-75: #333333;
	--dark-50: #4d4d4d;
	--dark-25: #999999;
	--carmesi: #c62828;

	--h1-size: clamp(2.5rem, 1.62rem + 2.817vw, 5rem);
	--h3-size: clamp(1.25rem, 0.81rem + 1.408vw, 2.5rem);
	--name-size: clamp(6rem, 5.296rem + 2.254vw, 8rem);
	--body-size: clamp(0.8rem, 0.624rem + 0.563vw, 1.3rem);
}

html,
body {
	height: 100%;
	color: var(--light);
	font-size: var(--body-size);
	font-weight: 200;
	font-family: Inter;
	overflow-x: hidden;
}

.burger {
	width: 30px;
	height: 20px;
	margin-bottom: 8px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	display: none;

	span {
		width: 100%;
		height: 1px;
		display: inline-block;
		border: 1px solid var(--light);
	}
}

h1 {
	font-size: var(--h1-size);
	font-family: bebas neue;
	text-align: center;
	font-weight: 200;
	text-transform: uppercase;
	padding: 2rem 0;
}

h3 {
	font-size: var(--h3-size);
	font-family: inter;
	font-weight: 600;
	padding-left: 3rem;
	padding-bottom: 2rem;
}

.btn {
	text-transform: uppercase;
	padding: 0.5rem 2rem;
	text-align: center;
	width: max-content;
	font-family: inter;
	font-size: var(--body-size);
	font-weight: 600;
	margin-right: 0.5rem;
	border-radius: 5px;
	transition: ease-out 0.5s;

	&:hover {
		box-shadow: inset 0 -100px 0 0 var(--carmesi);
	}
}

.btn-primary {
	background-color: var(--light);
	color: var(--dark);
	border: none;

	&:hover {
		cursor: pointer;
		color: var(--light);
		background-color: var(--carmesi);
	}
}

.btn-primary-red {
	background-color: var(--carmesi);
	color: var(--light);
	margin: 1rem 1.5rem 1.5rem 1rem;
	padding: 0.7rem;
	font-size: 1rem;

	&:hover {
		cursor: pointer;
		background-color: var(--light);
		color: var(--dark);
	}
}

.btn-secondary {
	background-color: transparent;
	color: var(--light);
	border: 1px solid var(--light);

	&:hover {
		cursor: pointer;
		color: var(--black);
		background-color: var(--carmesi);
		border: 1px solid var(--light);
	}
}

/*---------------------------------------------------------------------------------------------- HERO ------------------------------------------------------------------------------------------------ */

.hero {
	background-color: var(--dark);

	header {
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem;

		/* border: 1px solid green; */
		.logo {
			/* border: 1px solid blue; */
			flex: 1;
			font-size: 2rem;
			font-family: Another Danger;
		}

		nav {
			/* border: 1px solid red; */
			flex: 1;

			ul {
				margin: 0;
				padding-left: 4rem;
				display: flex;
				list-style: none;
				justify-content: space-between;

				li a {
					text-transform: uppercase;
					text-decoration: none;
					color: var(--light);
					font-weight: 400;

					&:hover {
						color: var(--carmesi);
						cursor: pointer;
						font-weight: 800;
					}
				}
			}
		}
	}

	.hero-content {
		height: calc(100vh - 100px);
		background-image: url("assets/img/rubio-entero_-fondo-negro.png");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding-left: 6rem;
		gap: 1.5rem;

		.name-song {
			.name {
				font-size: var(--name-size);
				font-weight: 400;
				font-family: Another Danger;
			}
		}

		.btns {
			a {
				color: var(--light);
			}
		}

		.social-media {
			display: flex;
			justify-content: start;
			list-style-type: none;

			li {
				flex: 0 0 30px;
				margin-right: 1rem;
			}
		}
	}
}

/* @media screen and (max-width: 500px) {
	.hero {
		.hero-content {
			border: 1px solid purple;
			padding-left: 2rem;

            justify-content:start;
            padding-left: 10rem;

            .name-song {
                .name {
                    margin-top:1rem;
                }
            }
		}
	}
} */
/* ---------------------------------------------------------------------------------------------- BIOGRAPHY -------------------------------------------------------------------------------------------*/

.biography {
	background-color: var(--dark-75);
	justify-content: center;
	align-items: center;

	.biography-content {
        display:flex;
        flex-flow:column nowrap;
        align-items: center;
        justify-content: center;

        .biography-content-1 {
            position:relative;
            
            .img_bio {
                display: block;
				width: 100%;
				height: auto;
				object-fit: contain;
            }
        } 
	}
}

@media screen and (max-width: 1300px) {
	.hero {
		.hero-content {
			border: 1px solid red;
			padding-left: 4rem;
		}
	}
}

@media screen and (max-width: 855px) {
	header {
		height: 50px;
		nav {
			border: 1px solid green;
			flex: 3;

			ul {
				justify-self: end;
				padding-right: 1rem;
				.menu-off {
					display: none;
				}
			}

			.burger {
				display: flex;
				height: 20px;
				padding-left: 0rem;
			}
		}
	}

	.hero {
		.hero-content {
			border: 1px solid blue;
			padding-left: 2rem;
		}
	}
}
