@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
	font-family: "Another Danger";
	src: url("assets/fonts/Another Danger - Demo.otf");
	src: url("assets/fonts/another_danger_-_demo-webfont.woff");
	src: url("assets/fonts/another_danger_-_demo-webfont.woff2");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--light: rgba(255, 255, 255, 1);
	--dark: rgba(0, 0, 0, 1);
	--dark-75: #333333;
	--dark-50: #4d4d4d;
	--dark-25: #999999;
	--carmesi: #c62828;

	--h1-size: clamp(2.5rem, 1.62rem + 2.817vw, 5rem);
	--h3-size: clamp(1.25rem, 0.81rem + 1.408vw, 2.5rem);
	--name-size: clamp(6rem, 5.296rem + 2.254vw, 8rem);
	--body-size: clamp(0.8rem, 0.624rem + 0.563vw, 1.3rem);
}

html,
body {
	height: 100%;
	color: var(--light);
	font-size: var(--body-size);
	font-weight: 200;
	font-family: Inter;
	overflow-x: hidden;
}

.burger {
	width: 30px;
	height: 20px;
	margin-bottom: 8px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	display: none;

	span {
		width: 100%;
		height: 1px;
		display: inline-block;
		border: 1px solid var(--light);
	}
}

h1 {
	font-size: var(--h1-size);
	font-family: bebas neue;
	text-align: center;
	font-weight: 200;
	text-transform: uppercase;
	padding: 2rem 0;
}

h3 {
	font-size: var(--h3-size);
	font-family: inter;
	font-weight: 600;
	padding-left: 3rem;
	padding-bottom: 2rem;
}

.btn {
	text-transform: uppercase;
	padding: 0.5rem 2rem;
	text-align: center;
	width: max-content;
	font-family: inter;
	font-size: var(--body-size);
	font-weight: 600;
	margin-right: 0.5rem;
	border-radius: 5px;
	transition: ease-out 0.5s;

	&:hover {
		box-shadow: inset 0 -100px 0 0 var(--carmesi);
	}
}

.btn-primary {
	background-color: var(--light);
	color: var(--dark);
	border: none;

	&:hover {
		cursor: pointer;
		color: var(--light);
		background-color: var(--carmesi);
	}
}

.btn-primary-red {
	background-color: var(--carmesi);
	color: var(--light);
	margin: 1rem 1.5rem 1.5rem 1rem;
	padding: 0.7rem;
	font-size: 1rem;

	&:hover {
		cursor: pointer;
		background-color: var(--light);
		color: var(--dark);
	}
}

.btn-secondary {
	background-color: transparent;
	color: var(--light);
	border: 1px solid var(--light);

	&:hover {
		cursor: pointer;
		color: var(--black);
		background-color: var(--carmesi);
		border: 1px solid var(--light);
	}
}

/*---------------------------------------------------------------------------------------------- HERO ------------------------------------------------------------------------------------------------ */

.hero {
	background-color: var(--dark);

	header {
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem;

		/* border: 1px solid green; */
		.logo {
			/* border: 1px solid blue; */
			flex: 1;
			font-size: clamp(1.5rem, 1.304rem + 0.747vw, 2.2rem);
			font-family: Another Danger;
		}

		nav {
			/* border: 1px solid red; */
			flex: 1;

			ul {
				margin: 0;
				padding-left: 4rem;
				display: flex;
				list-style: none;
				justify-content: space-between;

				li a {
					text-transform: uppercase;
					text-decoration: none;
					color: var(--light);
					font-weight: 400;

					&:hover {
						color: var(--carmesi);
						cursor: pointer;
						font-weight: 800;
					}
				}
			}
		}
	}

	.hero-content {
		height: calc(100vh - 100px);
		background-image: url("assets/img/rubio-entero_-fondo-negro.png");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding-left: 6rem;
		gap: 1.5rem;

		.name-song {
			.name {
				font-size: var(--name-size);
				font-weight: 400;
				font-family: Another Danger;
			}
		}

		.btns {
			a {
				color: var(--light);
			}
		}

		.social-media {
			display: flex;
			justify-content: start;
			list-style-type: none;

			li {
				flex: 0 0 30px;
				margin-right: 1rem;
			}
		}
	}
}

/* @media screen and (max-width: 500px) {
	.hero {
		.hero-content {
			border: 1px solid purple;
			padding-left: 2rem;

            justify-content:start;
            padding-left: 10rem;

            .name-song {
                .name {
                    margin-top:1rem;
                }
            }
		}
	}
} */
/* ---------------------------------------------------------------------------------------------- BIOGRAPHY -------------------------------------------------------------------------------------------*/

.biography {
	background-color: var(--dark-75);
	justify-content: center;
	align-items: center;

	.biography-content {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;

		.biography-content-1 {
			margin-bottom: 3rem;
			.inside-content {
				background-image: url(assets/img/Las-rimas-inolvidables-de-Walls-banner.png);
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;

				.texto {
					width: 100%;
					columns: 2;
					gap: clamp(15rem, 8.84rem + 23.467vw, 37rem);
					padding: clamp(1rem, -2.08rem + 11.733vw, 12rem)
						clamp(1rem, -1.5rem + 11.733vw, 6rem);
				}
			}
		}

		.biography-content-2 {
			margin-bottom: 3rem;
			h3 {
				text-align: end;
				margin-right: 3rem;
			}
			.biography-content-2-container {
				background-image: url(assets/img/mirando\ a\ la\ derecha.png);
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;

				.texto {
					justify-self: end;
					width: 50%;
					padding: clamp(1rem, -2.08rem + 11.733vw, 12rem)
						clamp(1rem, -1.5rem + 11.733vw, 6rem);
					text-align: end;
				}
			}
		}

		.biography-content-3 {
			margin-bottom: 3rem;

			.biography-content-3-container {
				.texto {
					display: flex;
					justify-content: center;
					align-self: center;

					.img-bio3 {
						img {
							display: block;
							width: 100%;
							height: auto;
							object-fit: cover;
						}
					}

					p {
						width: 50%;
						padding: clamp(1rem, 0.3rem + 2.667vw, 3.5rem);
					}
				}
			}
		}

		.biography-content-4 {
			margin-bottom: 3rem;

			.biography-content-4-container {
				background-image: url(assets/img/foto\ seccion4.jpg);
				background-size: cover;
				background-position: top center;
				background-repeat: no-repeat;

				.texto {
					width: 50%;
					padding: clamp(1rem, -2.08rem + 11.733vw, 12rem)
						clamp(1rem, -1.5rem + 11.733vw, 6rem);
				}
			}
		}
	}
}

.albums {
	background-color: var(--dark);

	.title {
		font-size: 2.5rem;
		font-weight: 400;
		padding-left: 3rem;
	}

	.description {
		width: 70%;
		padding: 3rem;
	}

	.music {
		.music-album {
			padding-left: clamp(1rem, 0.3rem + 2.667vw, 3.5rem);
			width: 55%;

			.songs {
				display: flex;
				flex-flow: row wrap;
				width: 30vw;

				.song {
					width: 45%;
				}
			}
		}
	}

	.albums-content-repeat {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-left: clamp(2rem, 0.88rem + 4.267vw, 6rem);
		margin-bottom: 4rem;

		.cover-1,
		.cover-2,
		.cover-3,
		.cover-4 {
			flex: 1;
			border: 3px solid var(--light);

			img {
				display: block;
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}

		.cover-4 {
			align-self: start;
		}

		.albums-content-container {
			flex: 2;
			.music {
				.music-albums {
					padding-left: 2rem;
					columns: 2;
					column-gap: 1rem;
					.songs {
						padding: 1rem;
						.song {
							width: 90%;
						}
					}
				}
			}
		}
	}

	.albums-last-track-container {
		padding-bottom: 3rem;

		.title {
			padding: 0 0 3rem clamp(3rem, 1.32rem + 6.4vw, 9rem);
		}

		.video-walls {
			display: flex;
			margin-left: clamp(3rem, 1.32rem + 6.4vw, 9rem);

			.video-last-track {
				align-self: start;
				flex: 1;
				max-width: 25vw;
				border-radius: 5px;
			}
		}

		.parte-derecha {
			flex: 1;
			padding-left: 2rem;

			.song-title {
				width: 100%;
				font-size: clamp(2rem, 1.58rem + 1.6vw, 3.5rem);
			}

			.listen,
			.show {
				display: flex;
				padding-top: 2rem;
				padding-left: clamp(2rem, 1.58rem + 1.6vw, 3.5rem);

				p {
					font-size: 2rem;
					font-weight: 600;
				}

				.media {
					display: flex;

					.logo {
						width: 5vw;
						padding-top: 6rem;
					}

					.name {
						padding: clamp(4rem, 2.6rem + 5.333vw, 9rem)
							clamp(4rem, 2.74rem + 4.8vw, 8.5rem) 0rem 2rem;
					}

					.media-1,
					.media-2 {
						flex: 1;
						display: flex;
					}
				}
			}
		}
	}
}

.on-tour {
	background-color: var(--dark-75);

	.carteles {
		display: flex;
		align-items: center;
		justify-content: center;

		.izq,
		.der {
			flex: 1;

			display: flex;
			align-items: center;

			opacity: 0.5;

			img {
				width: 20vw;
				height: auto;
			}
		}

		.izq {
			display: flex;
			justify-content: end;
			align-items: end;
		}

		.centro {
			flex: 1;
			margin-left: 2rem;

			img {
				width: 30vw;
				height: auto;
			}
		}

		.der {
			position: relative;

			.texto {
				position: absolute;
				color: var(--carmesi);
				font-size: clamp(1rem, 0.16rem + 3.2vw, 4rem);
				font-weight: 600;
				text-transform: uppercase;
				width: 60%;
				p {
					text-align: center;
				}
			}
		}
	}

	.shows {
		.title {
			color: var(--light);
			font-size: clamp(2.25rem, 1.9rem + 1.333vw, 3.5rem);
			font-weight: 400;
			padding: 3rem 0rem 3rem clamp(3rem, 2.16rem + 3.2vw, 6rem);
			text-transform: uppercase;
			font-family: Bebas Neue;
		}

		.card-row {
			display: flex;
			margin-bottom: 2.5rem;
			gap: 3rem;

			.card {
				flex: 1;
				background-color: var(--dark-25);
				border-radius: 5px;
				padding: 0.4rem;
				width: 50%;

				.card-title {
					margin: 0cm 0rem 1rem 2rem;
					font-weight: 600;
					font-size: clamp(1rem, 0.72rem + 1.067vw, 2rem);
				}

				.card-content {
					display: flex;

					.fecha {
						width: 10%;
						flex: 1;
						font-size: clamp(0.8rem, 0.604rem + 0.747vw, 1.5rem);
						padding-left: 1rem;
						text-align: center;
						font-weight: 400;
					}

					.parte-derecha {
						flex: 4;
						font-size: clamp(0.6rem, 0.432rem + 0.64vw, 1.2rem);
						padding-left: 2rem;
						.time {
							font-weight: 600;
							color: var(--dark-50);
						}

						.night {
							padding-top: 0.3rem;
							padding-bottom: 0.3rem;
							font-weight: 600;
						}

						.place {
							font-weight: 400;
						}
					}
				}
			}

			.card-left {
				margin-left: clamp(1rem, -2.08rem + 11.733vw, 12rem);
			}

			.card-right {
				margin-right: clamp(1rem, -2.08rem + 11.733vw, 12rem);
			}
		}
	}

	.tickets-section {
		padding-bottom: 3rem;
		.tickets {
			text-align: center;

			.fecha-concierto {
				font-size: clamp(2rem, 1.58rem + 1.6vw, 3.5rem);
				margin-bottom: 2rem;
			}

			.tickets-content {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;
				gap: 2rem;

				.rectangle {
					width: 67vw;
					height: 14vh;
					background-color: var(--carmesi);

					display: flex;

					.izquierda {
						flex: 2;
						text-align: left;
						margin: 1rem 3rem;
						font-size: clamp(0.9rem, 0.732rem + 0.64vw, 1.5rem);

						p {
							padding-bottom: 0.5rem;
							font-weight: 400;
						}

						p:nth-child(2) {
							color: var(--dark-25);
						}
					}

					.cuenta {
						flex: 2;
						display: flex;
						justify-content: end;
						align-items: center;
						font-weight: 600;
						gap: 5px;
					}

					.btns {
						display: flex;
						justify-content: center;
						align-items: center;
						flex: 1;
						gap: 0.5rem;

						button {
							background: var(--light);
							color: var(--dark);
							border: none;
							border-radius: 50%;
							width: 2vw;
							height: 4vh;
							font-size: clamp(1.1rem, 0.932rem + 0.64vw, 1.7rem);
							font-weight: 400;

							&:hover {
								cursor: pointer;
								color: var(--light);
								background-color: var(--dark);
							}
						}
					}
				}
			}
		}
	}

	.merchandising {
		background-color: var(--dark);

		.merch-content {
			width: 85%;
			margin: 0 auto;
			padding: 2rem 0;

			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: center;
			gap: 4rem;

			.merch {
				flex: 1;
				padding: 1rem;
				.merch-img {
					img {
						border: 2px solid var(--light);
						max-width: 90%;
						height: auto;
						object-fit: contain;
					}
				}

				.merch-info {
					display: flex;
					flex-flow: column nowrap;

					.merch-info-title {
						padding-bottom: 1rem;
						justify-content: center;
						text-align: center;
						font-size: clamp(1.5rem, 1.22rem + 1.067vw, 2.5rem);
						font-weight: 400;
					}

					.merch-description {
						justify-content: center;
						text-align: center;
						font-size: clamp(1rem, 0.932rem + 0.64vw, 1.5rem);
					}

					.merch-price {
						display: flex;
						justify-content: space-between;
						align-items: center;
						font-size: clamp(1.1rem, 1.044rem + 0.213vw, 1.3rem);
						color: var(--light);
					}
				}
			}
		}
	}
}

.contact {
	background-color: var(--dark-75);
	display: flex;
	flex-flow: column nowrap;
	padding-bottom: 3rem;

	.contact-subtitle {
		font-size: clamp(1.2rem, 1.06rem + 0.533vw, 1.7rem);
		text-align: center;
		padding-bottom: 1rem;
	}

	.formulario {
		align-self: center;
		display: flex;
		flex-flow: column nowrap;
		width: 50vw;

		label {
			font-size: clamp(0.9rem, 0.788rem + 0.427vw, 1.3rem);
			font-weight: 600;
			padding: 1rem 0rem;

			.asterisco {
				color: var(--carmesi);
			}
		}

		input[type="text"] {
			border: 1px solid var(--carmesi);
			height: 1.5rem;
			font-family: Inter;
			color: var(--dark);
			font-size: 1rem;
		}

		textarea {
			border: 1px solid var(--carmesi);
			height: 6rem;
			font-family: Inter;
			color: var(--dark);
			font-size: 1rem;
		}

		.enviar {
			padding-top: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;

			.policy {
				display: flex;
				justify-content: center;
				align-items: center;

				.privacy {
					font-size: clamp(0.7rem, 0.56rem + 0.533vw, 1.2rem);
				}
			}

			input[type="checkbox"] {
				margin-right: 0.5rem;
				width: 1.2rem;
				height: 1.2rem;
			}

			.boton {
				flex: 1;
				display: flex;
				justify-content: end;

				button {
					background-color: var(--carmesi);
					color: var(--light);
					border-radius: 5px;
					border: none;
					text-transform: uppercase;
					padding: 0.7rem 1rem;
					font-size: clamp(0.9rem, 0.788rem + 0.427vw, 1.3rem);
					font-weight: 600;
					margin-right: 1rem;

					&:hover {
						cursor: pointer;
						background-color: var(--light);
						color: var(--dark);
					}
				}
			}
		}
	}
}

footer {
	background-image: url(assets/img/footer.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;

	.footer-content {
		.logo-footer {
			padding: clamp(3rem, 1.88rem + 4.267vw, 7rem) 0rem 1rem
				clamp(3rem, 1.88rem + 4.267vw, 7rem);
			.footer-name {
				font-family: Another Danger;
				color: var(--dark);
				font-size: var(--name-size);
			}
		}

		.social-media-footer {
			padding-left: clamp(6rem, 4.88rem + 4.267vw, 10rem);
			padding-bottom: clamp(4rem, 3.16rem + 3.2vw, 7rem);
			.social {
				display: flex;
				gap: 0.7rem;
				list-style-type: none;
				li {
					flex: 0 0 30px;
				}
			}
		}

		.copyright {
			position: fixed;
			display: flex;
			padding: 0.5rem 1rem;
			font-size: 1rem;
			width: 100%;
			bottom: 0%;
			background-color: var(--dark-75);
			justify-content: space-between;
		}
	}
}

@media screen and (max-width: 1300px) {
	.hero {
		.hero-content {
			border: 1px solid red;
			padding-left: 4rem;
		}
	}

	.on-tour {
		.shows {
			.tickets-section {
				.tickets {
					.tickets-content {
						.rectangle {
							height: 11vh;
							.btns {
								button {
									height: 3vh;
								}
							}
						}
					}
				}
			}

			.merchandising {
				.merch-content {
					padding: 0rem 15rem;
				}
			}
		}
	}
}

@media screen and (max-width: 855px) {
	header {
		height: 50px;
		nav {
			border: 1px solid green;
			flex: 3;

			ul {
				justify-self: end;
				padding-right: 1rem;
				.menu-off {
					display: none;
				}
			}

			.burger {
				display: flex;
				height: 20px;
				padding-left: 0rem;
			}
		}
	}

	.hero {
		.hero-content {
			border: 1px solid blue;
			padding-left: 2rem;

			.btns {
				display: flex;
				flex-flow: column wrap;
				gap: 1rem;
			}
		}
	}

	.biography {
		.biography-content {
			.biography-content-1 {
				.inside-content {
					.texto {
						padding: 4rem 2rem;
					}
				}
			}
		}
	}

	.albums {
		.albums-content-repeat {
			.albums-content-container {
				.music {
					.music-albums {
						columns: 1;
					}
				}
			}
		}

		.albums-last-track-container {
			.parte-derecha {
				.listen,
				.show {
					.media {
						.name {
							padding: 6.5rem 4rem 0rem 2rem;
						}
					}
				}
			}
		}
	}

	.on-tour {
		.shows {
			.tickets-section {
				.tickets {
					.tickets-content {
						.rectangle {
							height: 9vh;
							.btns {
								button {
									height: 2vh;
								}
							}
						}
					}
				}
			}

			.merchandising {
				.merch-content {
					padding: 0rem 10rem;
					border: 1px solid red;
					flex-flow: column nowrap;
					justify-content: center;
					align-items: center;
					.merch {
						flex: 0;
						padding: 0rem;
						.merch-img {
							img {
								max-width: 100%;
							}
						}

						.merch-info {
							.merch-info-title {
								font-size: 3rem;
							}

							.merch-description {
								font-size: 2rem;
							}

							.merch-price {
								.merch-price-number {
									font-size: 2rem;
								}

								.merch-button {
									button {
										font-size: 1.5rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	footer {
		.footer-content {
			.social-media-footer {
				padding-left: 5.5rem;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.hero {
		.hero-content {
			position: relative;
			border: 1px solid purple;
			padding-left: 1rem;

			.name-song {
				position: absolute;

				.name {
					position: absolute;
					top: -1380%;
					left: 90%;
					font-size: 8rem;
				}

				p {
					opacity: 0;
				}
			}

			.btns {
				position: absolute;
				top: 44%;
			}

			.social-media {
				position: absolute;
				flex-flow: column nowrap;
				justify-content: center;
				gap: 1rem;
				width: 50px;
				left: 87%;
				top: 25%;
			}
		}
	}

	.biography {
		.biography-content {
			.biography-content-1 {
				.inside-content {
					.texto {
						gap: 14rem;
						padding: 2rem 1rem;
					}
				}
			}

			.biography-content-3 {
				.biography-content-3-container {
					.texto {
						.img-bio3 {
							img {
								width: 200px;
							}
						}
					}
				}
			}
		}
	}

	.albums {
		.albums-content {
			.albums-content-repeat {
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				margin-left: 0rem;

				.cover-1,
				.cover-2,
				.cover-3,
				.cover-4 {
					width: 50%;
					margin-bottom: 2rem;
					align-self: center;
				}

				.title {
					text-align: center;
					padding: 0;
					font-size: 2.5rem;
				}

				.description {
					width: 100%;
					font-size: 1.5rem;
				}

				.music {
					.music-album {
						width: 70%;
						margin-left: 2rem;
					}
				}
			}
		}

		.last-track {
			.albums-last-track-container {
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;

				.video-walls {
					flex-flow: column;
					justify-content: center;
					align-items: center;

					.video-last-track {
						align-self: center;
						max-width: 300px;
					}
				}

				.parte-derecha {
					padding-left: 0rem;

					.listen,
					.show {
						p {
							font-weight: 400;
						}

						.media {
							.logo {
								width: 40px;
								padding-top: 4rem;
							}

							.name {
								padding: 4.5rem 4rem 0rem 2rem;
								font-size: 1.5rem;
							}
						}
					}
				}
			}
		}
	}

	.on-tour {
		.shows {
			.card-row {
				flex-flow: column;
				justify-content: center;
				align-items: center;
				gap: 1.5rem;
				margin-bottom: 1.5rem;

				.card {
					width: 70%;

					.card-title {
						font-size: 2rem;
					}

					.card-content {
						.fecha {
							font-size: 1.2rem;
						}

						.parte-derecha {
							font-size: 1rem;
						}
					}
				}

				.card-left {
					margin-left: 0;
				}
				.card-right {
					margin-right: 0;
				}
			}

			.tickets-section {
				.tickets {
					.tickets-content {
						.rectangle {
							.izquierda {
								margin-left: 1rem;
								margin-top: 2rem;
							}

							.btns {
								button {
									width: 2vh;
								}
							}
						}
					}
				}
			}

			.merchandising {
				.merch-content {
					.merch {
						.merch-info {
							.merch-info-title {
								font-size: clamp(1.5rem, 1.143rem + 0.952vw, 2rem);
							}

							.merch-description {
								font-size: clamp(1.3rem, 1.157rem + 0.381vw, 1.5rem);
							}

							.merch-price {
								.merch-price-number {
									font-size: clamp(1.3rem, 1.157rem + 0.381vw, 1.5rem);
								}

								.merch-button {
									button {
										font-size: 1rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	footer {
		.footer-content {
			display: flex;

			.logo-footer {
				flex: 1;
				border: 1px solid green;
				padding: 4rem 0rem 4rem 2rem;
			}

			.social-media-footer {
				border: 1px solid red;
				padding: 4rem 2rem;
				.social {
					display: flex;
					flex-flow: column nowrap;
					justify-content: center;
					li {
						width: 25px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.hero {
		.hero-content {
			.name-song {
				.name {
					top: -1480%;
					left: 60%;
				}
			}
		}
	}

	.biography {
		.biography-content {
			.biography-content-1 {
				.inside-content {
					.texto {
						gap: 10rem;
					}
				}
			}

			.biography-content-3 {
				.biography-content-3-container {
					.texto {
						.img-bio3 {
							img {
								width: 200px;
							}
						}

						p {
							padding:1rem;
						}
					}
				}
			}
		}
	}

	.on-tour {
		.tickets-section {
			.tickets {
				.tickets-content {
					.rectangle {
						width: 80vw;
					}
				}
			}
		}
	}
}
