@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
	font-family: "Another Danger";
	src: url("assets/fonts/Another Danger - Demo.otf");
	src: url("assets/fonts/another_danger_-_demo-webfont.woff");
	src: url("assets/fonts/another_danger_-_demo-webfont.woff2");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--light: rgba(255, 255, 255, 1);
	--dark: rgba(0, 0, 0, 1);
	--dark-75: #333333;
	--dark-50: #4d4d4d;
	--dark-25: #999999;
	--carmesi: #c62828;

	--h1-size: clamp(2.5rem, 1.62rem + 2.817vw, 5rem);
	--h3-size: clamp(1.25rem, 0.81rem + 1.408vw, 2.5rem);
	--name-size: clamp(6rem, 5.296rem + 2.254vw, 8rem);
	--body-size: clamp(0.8rem, 0.624rem + 0.563vw, 1.3rem);
}

html,
body {
	height: 100%;
	color: var(--light);
	font-size: var(--body-size);
	font-weight: 200;
	font-family: Inter;
	overflow-x: hidden;
}

.burger {
	width: 30px;
	height: 20px;
	margin-bottom: 8px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	display: none;

	span {
		width: 100%;
		height: 1px;
		display: inline-block;
		border: 1px solid var(--light);
	}
}

h1 {
	font-size: var(--h1-size);
	font-family: bebas neue;
	text-align: center;
	font-weight: 200;
	text-transform: uppercase;
	padding: 2rem 0;
}

h3 {
	font-size: var(--h3-size);
	font-family: inter;
	font-weight: 600;
	padding-left: 3rem;
	padding-bottom: 2rem;
}

.btn {
	text-transform: uppercase;
	padding: 0.5rem 2rem;
	text-align: center;
	width: max-content;
	font-family: inter;
	font-size: var(--body-size);
	font-weight: 600;
	margin-right: 0.5rem;
	border-radius: 5px;
	transition: ease-out 0.5s;

	&:hover {
		box-shadow: inset 0 -100px 0 0 var(--carmesi);
	}
}

.btn-primary {
	background-color: var(--light);
	color: var(--dark);
	border: none;

	&:hover {
		cursor: pointer;
		color: var(--light);
		background-color: var(--carmesi);
	}
}

.btn-primary-red {
	background-color: var(--carmesi);
	color: var(--light);
	margin: 1rem 1.5rem 1.5rem 1rem;
	padding: 0.7rem;
	font-size: 1rem;

	&:hover {
		cursor: pointer;
		background-color: var(--light);
		color: var(--dark);
	}
}

.btn-secondary {
	background-color: transparent;
	color: var(--light);
	border: 1px solid var(--light);

	&:hover {
		cursor: pointer;
		color: var(--black);
		background-color: var(--carmesi);
		border: 1px solid var(--light);
	}
}

/*---------------------------------------------------------------------------------------------- HERO ------------------------------------------------------------------------------------------------ */

.hero {
	background-color: var(--dark);

	header {
		.logo {
			flex: 1;
			font-size: 2rem;
			font-family: Another Danger;
		}
	}
}
